@charset "utf-8";
*{margin:0px; padding:0px;}
.wrapper{
  position:relative;
  margin:0px auto;
  width: 100%; 
}
ul,li{list-style: none;}
.slide{
  width:500%;
  display: flex; left:0px;
  position: absolute;
  left: 0px;top:0px;
  transition:0.3s;
}
.slide > li{width:100%; height: 500px;}
.slide > li:not(:last-child){margin-right: 0px;}
.slide > li img{
  width:100%;
}
.button{
  position: absolute;
  font-size: 2rem;
  padding:5px 10px;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  top:40%;
}
#left_btn{left:0px;}
#right_btn{right:0px;}